.App {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 1em;
}

.App img {
  height: 10em;
}

.TotalSum {
  padding: 1em;
  margin: 2em;
  font: 15px arial;
}