.App {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 1em;
}

.App img {
  height: 10em;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1em;
}
